/* Basic rule */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-areas: "title title title" "adiv cdiv bdiv" "adiv ddiv bdiv" "foot foot foot";
}

div {
	background-color: azure;
	border: 1px solid black;
	margin: 2px;
	padding: 8px;
}

ul {
	list-style-type: none;
}

li {
	width: 80px;
	height: 30px;
	margin: 1px;
	padding: 4px;
	transition: 0.3s;
	background-color: white;
}

li:hover {
	background-color: cornflowerblue;
}

/* Title */
#MyTitle {
	grid-area: title;
	text-align: center;
}

/* A Words */
#Adiv {
	background-color: #720e9e;
	grid-area: adiv;
}

/* B Words */
#Bdiv {
	background-color: #5072A7;
	grid-area: bdiv;
}

/* C Words */
#Cdiv {
	background-color: #C60C30;
	grid-area: cdiv;

}

/* D Words */
#Ddiv {
	background-color: #32de84;
	grid-area: ddiv;

}


/* Footer */
#MyFoot {
	background-color: #2F4F4F;
	text-align: center;
	color: white;
	grid-area: foot;
}

/* Responsive layout */
@media only screen and (min-width: 1024px) {
	body {
		grid-template-areas: "title title title" "adiv cdiv ddiv bdiv" "foot foot foot";
	}
}

@media only screen and (max-width: 650px) {
	body {
		grid-template-areas: "title title" "adiv bdiv" "cdiv ddiv" "foot foot";
	}
}

@media only screen and (max-width: 440px) {
	body {
		grid-template-areas: "title" "adiv" "bdiv" "cdiv" "ddiv" "foot";
	}
}