/* Basic rule */
* {
	box-sizing: border-box;
}

set {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	margin: 10px;
	padding: 10px;
	float: left;
	width: 25%;
}

div {
	border: 1px solid black;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

ul {
	list-style-type: none;
}

li {
	width: 100px;
	height: 30px;
	margin: 5px;
	padding: 5px;
	transition: 0.3s;
	background-color: white;
	border: 1px solid black;
	text-align: center;
}

li:hover {
	background-color: skyblue;
}

/* Title */
#MyTitle {
	background-color: #2F4F4F;
	text-align: center;
	clear: both;
	color: white;
	width: 100%;
	padding: 10px;
}

/* A Words */
#Adiv {
	background-color: lightpink;
}

/* B Words */
#Bdiv {
	background-color: #5072A7;
}

/* C Words */
#Cdiv {
	background-color: #C60C30;
}

/* D Words */
#Ddiv {
	background-color: #32de84;
}

/* Footer */
#MyFoot {
	background-color: #2F4F4F;
	text-align: center;
	color: white;
	clear: both;
	width: 100%;
	padding: 10px;
}

/* Responsive layout */
/* Desktop layout */
@media only screen and (min-width: 1025px) {
	#Adiv {
		width: 25%;
		float: left;
	}

	#Cdiv {
		width: 25%;
		float: left;
	}

	#Ddiv {
		width: 25%;
		float: left;
	}

	#Bdiv {
		width: 25%;
		float: right;
	}
}

/* Tablet layout */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .set {
        width: 50%;
        float: left;
        box-sizing: border-box;
        padding: 10px;
    }
    #Adiv, #Bdiv {
        width: 50%;
        float: left;
    }
    #Cdiv, #Ddiv {
        clear: both;
		float: left;
    }
	#Bdiv {
        clear: right;
    }

	#Ddiv{
		clear:right
	}
}

/* Mobile layout */
@media only screen and (min-width: 321px) and (max-width: 480px) {

	#Adiv,
	#Bdiv,
	#Cdiv,
	#Ddiv {
		float: none;
		width: 100%;
	}
}